/*
* INFO: This is your blanket CSS file. All styles here will affect all HTML your templates
* produce
*/
body {
	font-family: sans-serif;
	font-size: 18px;
	line-height: 1.5rem;
	background-color: aliceblue;
}

header {
	text-align: center;
	height: 2em;
	font-size: 1.5em;
	margin-bottom: 2em;
}

nav {
	padding: 16px 2px;
	width: auto;
	margin: 0 auto;
	margin-bottom: 1em;
	color: black;
}

nav a {
	border: ridge 5px white;
	background-color: rgb(201, 245, 247);
	padding: 14px 16px;
	text-decoration: none;
}

a:visited {
	color: black;
}

#store_container {
	display: grid;
	grid-template-columns: 2;
	gap: 1em;
	background-color: rgb(201, 229, 254);
	padding: 1em;
}

#form {
	grid-column: 1/2;
	margin-left: 1em;
	border-right: solid 2px black;
}

legend {
	text-align: center;
}

#info {
	text-align: right;
	width: fit-content;
}

#info p {
	text-align: center;
}

input {
	margin: 0.2em;
}

select {
	margin: 0.6em;
	font-size: 1em;
	padding: 0.5em;
}

#product {
	text-align: right;
	width: fit-content;
	margin-top: 0.5em;

}

#product p {
	text-align: center;
}

#quantity {
	width: 3em;
}

#donate {
	margin: 1em;
}

.required label {
	font-weight: bold;
}

.required label:before {
	color: #e32;
	content: '* ';
	display: inline;
}

#purchase {
	margin-bottom: 2em;
}


aside {
	grid-column: 2/2;
	border: 3px solid black;
	width: 30vw;
	text-align: center;
	height: fit-content;
}

#image {
	width: 30vw;
	margin: 0 auto;
}


table {
	border-collapse: collapse;
	border: 1px solid black;
	text-align: center;

	margin: 2em;
}

table th {
	border: 1px solid black;
	padding: 1em;
}

table td {
	border: 1px solid black;
	padding: 1em;
}

td img {
	width: 10vw;
}

#queries {
	padding: 2em;
	background-color: rgb(201, 229, 254);
}

footer {
	grid-area: footer;

	border-top: double 6px black;
	padding: 1em;
	background-color: floralwhite;
	font-size: small;
	text-align: center;
}