body {
	font-family: sans-serif;
	font-size: 18px;
	line-height: 1.5rem;
	background-color: aliceblue;
}

header {
	text-align: center;
	height: 2em;
	font-size: 1.5em;
	margin-bottom: 2em;
}

nav {
	padding: 16px 2px;
	width: auto;
	margin: 0 auto;
	margin-bottom: 1em;
	color: black;
}

nav a {
	border: ridge 5px white;
	background-color: rgb(201, 245, 247);
	padding: 14px 16px;
	text-decoration: none;
	color: black;
}

a:visited {
	color: black;
}

#product_container {
	display: grid;
	grid-template-columns: 2;
	gap: 1em;
	background-color: rgb(201, 229, 254);
	padding: 1em;
    text-align: center;
}

#products {
    grid-column: 1/2;
    margin-left: 1em;
	border-right: solid 2px black;
    margin: auto;
}

legend {
	text-align: center;
}

input {
	margin: 0.2em;
}

#quantity {
	width: 4em;
	text-align: center;
}

#price {
	text-align: center;
	width: 6em;
}
.required {
	font-weight: bold;
}

.required:before {
	color: #e32;
	content: '* ';
	display: inline;
}

aside {
	grid-column: 2/2;
	width: fit-content;
	text-align: right;
	height: fit-content;
}

table {
	border-collapse: collapse;
	border: 1px solid black;
	text-align: center;

	margin: 2em;
}

table th {
	border: 1px solid black;
	padding: 1em;
}

table td {
	border: 1px solid black;
	padding: 1em;
}

#product_table td {
	cursor: grab;
}

footer {
	grid-area: footer;

	border-top: double 6px black;
	padding: 1em;
	background-color: floralwhite;
	font-size: small;
	text-align: center;
}

#delete {
	color: black;
	background-color: rgb(255, 175, 167);

	border: double 2px black;
}