package templates

templ Base() {
	<!DOCTYPE html>
	<html>
	<head>
		<title>GameHalt</title>
		<link rel="stylesheet" href="assets/styles/styles.css">
	</head>
	<body>
		@header()
		//@content
		@footer()
	</body>
	</html>
}

templ header() {
	<header>
		<h1>Your Header Here</h1>
	</header>
}
