package templates

templ header(authorization int) {
<nav>
	if authorization >= 0{
	<a href="#">Home</a>
	}
	if authorization == 0 || authorization == 2 {
		<a href="/store">Store</a>
	}
	if authorization >= 1 {
	<a href="/admin">Admin</a>
	<a href="/order_entry">Order Entry</a>
	}
	if authorization == 2 {
	<a href="/products">Products</a>
	}
</nav>
<header>
	<h1>GameHalt</h1>
	<em>The Pause Button for Your Wallet</em>
</header>
}