package templates

templ header() {
<nav>
	<a href="#">Home</a>
	<a href="/store">Store</a>
	<a href="/admin">Admin</a>
	<a href="/order_entry">Order Entry</a>
</nav>
<header>
	<h1>GameHalt</h1>
	<em>The Pause Button for Your Wallet</em>
</header>
}