package templates

import (
//"fmt"
//"go-store/types"
)

templ Login() {

<!DOCTYPE html>
<html>

<head>
	<title>Login</title>
	<link rel="stylesheet" href="assets/styles/styles.css">
	<link rel="icon" type="image/x-icon" href="assets/images/page_icon.ico">
</head>

<body>
	@header(0)
    <div id="">
    
    </div>

    @footer()
</body>
</html>
}